@import "tailwindcss";

/* @font-face {
  font-family: 'GoldLines';
  src: url('./fonts/GoldLinesSerif.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
} */
/*
@font-face {
  font-family: 'Erstoria';
  src: url('./fonts/erstoria.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
} */

@font-face {
  font-family: 'theseasons';
  src: url('./fonts/theseasons-reg.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

.theseasons {
  font-family: 'theseasons', sans-serif;
  font-optical-sizing: auto;
}

.playfair {
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
}

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}


.playfair-display-sc {
  font-family: "Playfair Display SC", serif;
  font-optical-sizing: auto;
}

.nunito-sans {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
}


:root {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

a {
  text-underline-offset: 0.2em;

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
  }
}

@theme {
  --animate-showcase: showcase 100s ease-in-out infinite;

  @keyframes showcase {
    0%,
    100% {
      object-position: bottom center;
    }

    25% {
      object-position: bottom left;
    }

    75% {
      object-position: bottom right;
    }
  }
}

@custom-variant visible (&:where(.visible, .visible *));
