<nav class="nunito container px-6 mx-auto flex items-center justify-between py-6 text-amber-300">
  <a href="{{ page.base }}{% if page.lang == 'fr' %}fr/{% endif %}" class="flex items-center gap-3">
    <img src="{{ page.base }}img/logo.avif" alt="Ventclair" class="h-16 object-contain">
  </a>
  <ul class="flex gap-6 lg:gap-10 uppercase tracking-[0.33ch] text-xs md:text-sm">
    {% if page.lang == 'fr' %}
    <li><a href="{{ page.base }}fr/#mission">Mission</a></li>
    <li><a href="{{ page.base }}fr/#art-du-detail">Artisanat</a></li>
    <li><a href="{{ page.base }}fr/#contact">Contact</a></li>
    <li><a href="{{ page.base }}projects.html">En</a></li>
    {% else %}
    <li><a href="{{ page.base }}#mission">Mission</a></li>
    <li><a href="{{ page.base }}#art-of-detail">Craft</a></li>
    <li><a href="{{ page.base }}#contact">Contact</a></li>
    <li><a href="{{ page.base }}fr/projects.html">Fr</a></li>
    {% endif %}
  </ul>
</nav>
